{% extends 'base.html' %}
{% block title %}
    首页
{% endblock %}
{% block page_css %}
    <style type="text/css">
        #navigation_id {
            background: red;
        }

        #navigation_id > li {
            float: left;
            padding: 10px;
        }

        #navigation_id a {
            color: white;
            font-size: 20px;
            font-weight: inherit;
        }

        #navigation_id span {
            color: white;
            font-size: 22px;
            font-weight: inherit;
        }
    </style>
    {#   轮播图样式#}

    <style type="text/css">
        .banner {
            position: absolute;
            overflow: auto;
            text-align: center;
            left: 200px;
            top: 0;
            z-index: 0;
        }

        .banner ul li {
            list-style: none;
            float: left;
        }

        #bnner_id {
            width: 600px;
            height: 500px;
        }

        #b04 .dots {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 20px;
        }

        #bnner_id .dots li {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 4px;
            text-indent: -999em;
            border: 2px solid #fff;
            border-radius: 6px;
            cursor: pointer;
            opacity: .4;
            -webkit-transition: background .5s, opacity .5s;
            -moz-transition: background .5s, opacity .5s;
            transition: background .5s, opacity .5s;
        }

        #bnner_id .dots li.active {
            background: #fff;
            opacity: 1;
        }

        #bnner_id .arrow {
            position: absolute;
            top: 200px;
        }

        #bnner_id #al {
            left: 15px;
        }

        #bnner_id #ar {
            right: 15px;
        }

        #bnner_id img {
            width: 600px;
            height: 500px;
        }
    </style>
    {#    分类菜单样式#}
    <style type="text/css">
        #cate_id {
            height: 500px;
            position: relative;
            z-index: 1;
        }

        #cate_id a {
            font-size: 20px;
        }

        #cate_id > li {
            width: 200px;
        }

        #cate_id > li:hover {
            background: white;
        }

        .sub {
            display: none;
            position: absolute;
            top: 0;
            left: 200px;
            width: 800px;
            height: 500px;
            background: white;
        }

        .sub div {
            display: inline-block;
        }

        .search {
            margin: 0 auto;
            padding: 10px;
            margin-left: 100px;
        }

        .search > form {
            background-color: #2aabd2;
            display: inline-block;
            margin-left: 100px;
            min-width: 400px;
            height: 40px;
            padding: 2px;
        }

        .search > form > input {
            height: 36px;
            outline: none;
            font-size: 20px;
        }

        .search > form > input[type=text] {
            width: 80%;
        }

        .search > form > input[type=submit] {
            width: 17%;
            border: none;
            background: none;
            padding: 0 4px;
            text-align: center;
        }
    </style>


{% endblock %}

{% load staticfiles %}

{% block page_jq %}
    <script src="{% static 'js/unslider.min.js' %}"></script>

    <script type="text/javascript">
        $(function () {
            $('#banner_id').unslider({
                dots: true
            });
            $("#cate_id>li").mouseover(function () {
                {#当li鼠标移入之后,当前的ul要显示,其他的要隐藏#}
                $('.sub').hide();
                $(this).find('ul').show()
            })
            $("#cate_id").mouseleave(function () {
                $(this).find('ul').hide()
            })
        })
    </script>
{% endblock %}



{% block page_head %}
    {#    头部部分#}
    {#    1>登录注销  购物车 订单#}
    {% include 'include/common/common_top.html' %}
    {#    logo 搜索按钮#}
    {% include 'include/common/common_search.html' %}
{% endblock %}

{% block page_main %}
    {#   导航菜单  分类菜单  轮播图#}
    {% include 'include/home_top_page.html' %}
    {% include 'include/home_content_page.html' %}
{% endblock %}

{% block page_footer %}

{% endblock %}